<h1>  All Sell Posts </h1>

<%= form_tag("/sell_posts/sort", method: "get") do %>
  <%= label_tag(:id, "Search for:") %>
  <%= text_field_tag(:id) %>
  <%= submit_tag("Search") %>
<% end %>

<% @sell_posts.each do |sell_post| %>
    <h4><%= "#{sell_post.name}" %></h4> 
    <p>ISBN: <%= "#{sell_post.isbn}" %></p>
    <p>$<%= "#{sell_post.price}" %></p>
    <p><%= button_to "Delete Post", sell_posts_delete_path(id: sell_post.id), :class => "button medium", :method => :delete %></p>
<% end %>