<h1>  All Sell Posts </h1>

<%= form_tag("/sell_posts/sort", method: "get") do %>
  <%= label_tag(:id, "Search for:") %>
  <%= text_field_tag(:id) %>
  <%= submit_tag("Search") %>
<% end %>


<% (@sell_posts.sort_by) .each do |sell_post| %>
	<p> <%= "#{sell_post.name} #{sell_post.isbn} #{sell_post.price} " %> </p>





<% end %>