<% if current_user %>
    <h1><%= current_user.name %></h1>

    <h3>Books for sale:</h3>
    <p><%= button_to "Post new book for sale", new_sell_post_path(id: current_user.id), :class => "button medium", :method => :get %></p>
    <% SellPost.where(user: current_user.id).find_each do |sell_post|%>
        <h4><%= "#{sell_post.name}" %></h4> 
        <p>ISBN: <%= "#{sell_post.isbn}" %></p>
        <p>$<%= "#{sell_post.price}" %></p>
        <p><%= button_to "Delete Post", sell_posts_delete_path(id: sell_post.id), :class => "button medium", :method => :delete %></p>
    <% end %>


    <h3>Books wanted:</h3>
    <p><%= button_to "Post new wanted book", new_buy_post_path(id: current_user.id), :class => "button medium", :method => :get %></p>
    <% BuyPost.where(user: current_user.id).find_each do |buy_post|%>
        <h4><%= "#{buy_post.name}" %></h4> 
        <p>ISBN: <%= "#{buy_post.isbn}" %></p>
        <p>$<%= "#{buy_post.price}" %></p>
        <p><%= button_to "Delete Post", buy_posts_delete_path(id: buy_post.id), :class => "button medium", :method => :delete %></p>
    <% end %>

<% else %>
    <h1>Hello, Guest!</h1>
    <p>Please log in or sign up to create and view your books to buy and sell.</p>
<% end %>
