<h1><%= current_user.name %></h1>

<h3>Books for sale:</h3>
<% if current_user %>
    <p><%= button_to "Post new book for sale", new_sell_post_path(id: current_user.id), :class => "button medium", :method => :get %></p>
<% end %>

<% if current_user %>
<% SellPost.where(user: current_user.id).find_each do |sell_post|%>
    <p><%= "#{sell_post.name} #{sell_post.isbn} #{sell_post.class_name} #{sell_post.class_number}" %></p>
<% end %>


<h3>Books wanted:</h3>
<% if current_user %>
    <p><%= button_to "Post new wanted book", new_buy_post_path(id: current_user.id), :class => "button medium", :method => :get %></p>
<% end %>
<% BuyPost.where(user: current_user.id).find_each do |buy_post|%>
    <p><%= "#{buy_post.name} #{buy_post.isbn} #{buy_post.class_name} #{buy_post.class_number}" %></p>
<% end %>
<% end %>


<% if false %>
<% if @user %>
<% SellPost.where(user: @user.id).find_each do |sell_post|%>
    <p><%= "#{sell_post.name} #{sell_post.isbn} #{sell_post.class_name} #{sell_post.class_number}" %></p>
<% end %>
<h3>Books wanted:</h3>
<% if @user and @user.id == current_user.id %>
    <p><%= button_to "Post new wanted book", buy_post_new_path(id: @user.id), :class => "button medium", :method => :get %></p>
<% end %>
<% BuyPost.where(user: @user.id).find_each do |buy_post|%>
    <p><%= "#{buy_post.name} #{buy_post.isbn} #{buy_post.class_name} #{buy_post.class_number}" %></p>
<% end %>
<% end %>
<% end %>

<% if current_user%>
    <% if current_user.is_admin %>
      <h3>Admin</h3>
    <% else %>
      <h3>Not Admin</h3>
    <% end %>
<% end %>
