<h1>  All Buy Posts </h1>


<%= form_tag("/buy_posts/sort", method: "get") do %>
  <%= label_tag(:id, "Search for:") %>
  <%= text_field_tag(:id) %>
  <%= submit_tag("Search") %>
<% end %>

<% (@buy_posts.sort_by) .each do |buy_post| %>
    <h4><%= "#{buy_post.name}" %></h4> 
    <p>ISBN: <%= "#{buy_post.isbn}" %></p>
    <p>$<%= "#{buy_post.price}" %></p>
    <p><%= "#{buy_post.user.name}" %></p>


    <% if current_user.is_admin %>
      <p><%= button_to "Delete Post", buy_posts_delete_path(id: buy_post.id), :class => "button medium", :method => :delete %></p>
    <% end %>
<% end %>