<!DOCTYPE html>
<html>
<head>
  <title>TextbookExchange</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
    <ul>
        <li><%= link_to 'Sell a book', buy_posts_path %></li>
        <li><%= link_to 'Buy a book', sell_posts_path %></li>
        <li>Welcome to the Textbook Exchange</li>
        <li class='has-submenu'><%= current_user.name %></li>
    </ul>



</body>
</html>
